* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.chat-container {
    width: 95%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 15px;
    margin: 10px;
    min-height: 600px;
}

.chat-box {
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
}

.chat-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px;
    width: 100%;
}

button {
    color: #fff;
    border: none;
    padding: 10px 12px;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    width: 45%;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

#google-mode-button {
    background-color: #4285f4;
}

#voice-button {
    background-color: #f1c40f;
    color: #000;
}

#send-button {
    background-color: #007bff;
}

#android-button {
    background-color: #0080ff;
}

#generate-image-button {
    background-color: #e67e22;
}

.small-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.small-button:hover {
    background-color: #0056b3;
}

.small-button:active {
    background-color: #004a9d;
}
